*{
    font-family: 'Manrope', sans-serif;
}

.details-text{
    color: rgba(19, 19, 24, 0.60);    ;
    font-size: 16px;
    font-weight: 500;
}

.progress-color{
    color: black;
    font-weight: 800;
    font-size: 22px;
}

.program-img-1{
    width: 100%;
    height: auto;
}

.program-img-1 img{
    width: 100vw;
    filter: brightness(50%);
}
footer{
    background-color: #131313;
}
footer .other-content{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
